.actions {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.actions__item {
  width: 20rem;
  height: 10rem;
  border-radius: 6px;
  overflow: hidden;
}

.actions__link {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $dark;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $bright;
  font-size: 1.25rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: $tr;

  &:hover,
  &:active {
    background-color: darken($medium, 30%);
  }
}
