.restaurants {
  list-style: none;
  padding: 0;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
}

.restaurants__item {
  padding: 2rem;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: $dark;
  color: $accent;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurants__title {
  @include font(2rem, 2.4rem, 500);
  font-family: $font;
  color: $bright;
  margin: 0 auto;
}

.restaurants__text {
  margin: 0 auto 10px;
  color: $accent;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.restaurants__link {
  align-self: flex-end;
}
